* {
    box-sizing: border-box;
}

.register-page {
    margin: 0;
    padding: 40px 20px;
    min-height: 100vh;
    background-image: url("../../assets/Login page img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    overflow-y: auto;
}

/* name */
.name-group {
    display: flex;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.name-group .form-group {
    flex: 1;
}

/* Card */
.register-box {
    width: 100%;
    max-width: 420px;
    padding: 40px;
    background: #ffffff;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Logo */
.register-box img {
    width: 180px;
    margin: 0 auto;
}

/* Title */
.register-page h2 {
    text-align: center;
    margin: 0;
}

/* Form */
.register-page form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Label + input group */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Label */
.register-page label {
    font-weight: 600;
    font-size: 16px;
}

/* Input */
.register-page input[type="text"],
.register-page input[type="password"],
.register-page input[type="email"] {
    width: 100%;
    padding: 13px 18px;
    border: 2px solid #C4C4C4;
    border-radius: 25px;
    background-color: #f3f3f3;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
    color: black;
}

.register-page input:focus {
    border-color: #EA454C;
    background: #ffffff;
}

/* Button */
.register-page button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: #EA454C;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.register-page button:hover {
    background: #d63a40;
}

/* register para */
.loginpara {
    text-align: center;
}

.loginpara a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.loginpara a:hover {
    color: #EA454C;
}